*{
	border=0px;
	margin: opx;
	padding: opx;


}

body{
	background-image: url(../img/fondo2.jpg);
	background-size: 1800px;
	
	background-position: silver;

}

section#contenedor{

	/*background: orange;  fondo contenedor */
	height: 1200px;
	width: 900px;
	margin-right: auto;
	margin-left: auto;
	}

header{

	background-image: url(../img/hed.jpg);
	background-repeat: no-repeat;
	background-size: 1000px;
	width: 900px;
	height: 100px;
	margin-top: 50px;
	color: white;
	border-radius: 15px;

	
}

nav{
	
	width: 100%;
	max-width: 1500px;
	margin-top: 25px;

}

nav ul{
	list-style:none; 
}

nav > ul{

	display: table;
	overflow: hidden;
	background: black;
	width: 95%;
	position:relative;
}

nav > ul li{
	display: table-cell;
}

/*Submenu*/
nav > ul > li:hover > ul {
	
	display: block;
}

nav > ul > li > ul{
	
	position: relative;
	background: black;


}

nav > ul > li > ul {
	display: none;
}

nav >ul li a {

	color: white;
	display: block;
	line-height: 20px;
	padding: 20px;
	position: relative;
	text-align: center;
	text-decoration: none;

	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

nav> ul> li>ul>li a:hover{
	background: #5da5a2; 
}

nav > ul > li > a span {

	background: #174459;
	display: block;
	width: 100%;
	height: 100%	
	left: 0px;
	position: absolute;
	top: -55px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

nav > ul > li > a span .icon{
	display: block;
	line-height: 60px;
}

nav > ul >  li > a:hover > span{
	
	top: 0;
}



h1{
	text-align: center;
	font-family: 'Poiret One', cursive;
	font-size: 18px;
	color: black;
	float: left;
	margin-left: 30px;
}

h2{
	color: white;
	font-family: 'Indie Flower', cursive;
	max-width: 250px;
	margin-top: 30px;
	margin-left: 50px;
	padding-top: 30px;

}	

h3{
	color: black
	font-family: 'Bree Serif', serif;
	text-align: justify;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 18px;
	
}

h4{
	color: black;
	font-family: 'Bree Serif', serif;
	text-align: center;
	font-size: 20px;
	padding-top: 90px;
	text-decoration: none;
}

h5{
	
	color:Black;
	font-size: 17px;
	font-family: 'Bree Serif', serif;
	text-align: center;
	}


section > article >h2 > p{
	color: black;
} 



#banner{

	background-image: url(../img/section.jpg);
	background-size: 900px;
	height: 450px;
	margin-top: 88px;
	border: 1px solid black;

	
}

#noticias {	

	background-image: url(../img/fondo2.jpg);
	height: 175px;
	width: 880px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	margin-top: 20px;

}



#noticias #noticia1{

	
	height:170px;
	width: 280px;
	float: left;
	vertical-align: top;
	border: 1px solid black;
	margin-left: 10px;

}

#noticias #noticia2{

	
	height:170px;
	width: 280px;
	float: left;/*otra forma es; display:inline-block;*/
	margin-left: 10px;
	vertical-align: top;
	border: 1px solid black;
}
#noticias #noticia3{

	
	height:170px;
	width: 280px;
	float: left;
	margin-left: 10px;
	vertical-align: top;
	border: 1px solid black;
}


#servicios{
	
	
	/*background: green;*/	
	height: 300px;
	width: 1100px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	margin-top: 10px;

}

#servicios #servicio1{

	
	background-image: url(../img/apa.jpg);
	background-repeat: no-repeat;
	background-size: 210px;
	height: 300px;
	width: 200px;
	float: left;
	margin-left: 0px;
	padding-left: 10px;
	border-radius: 15px;
	border:2px solid black;
}

#servicios #servicio2{
	
	background-image: url(../img/gato1.png);
	background-repeat: no-repeat;
	background-position: center;	
	height: 300px;
	width: 200px;
	float: left;
	margin-left: 10px;
	padding-left: 10px;
	border-radius: 15px;
	border:2px solid black;

}
#servicios #servicio3{
	
	background:#f25724;
	background-position: center;	
	height: 300px;
	width: 200px;
	float: left;
	margin-left: 10px;
	border-radius: 15px;
	border:2px solid black;

}
#servicios #servicio4{

	background: #0e5061;
	background-size: 600px;	
	height: 300px;
	width: 200px;
	display:inline-block;
	margin-left: 10px;
	border-radius: 15px;
	border:2px solid black;
	
}


#adopta{


	width: 800px;
	height: 200px;
	margin-top: 25px;
	margin-left: 100px;
	
}

footer{

	background-image: url(../img/hed.jpg);
	background-repeat: no-repeat;
	background-size: 900px;
	margin-top:50px;
	border-radius: 10px;
	border: 3px solid #5da5a2;
	height: 80px;
		
	
}

footer p{
	font-family: comic;
	font-size: 11px;
	text-align: center;
	padding-top: 0px;
}

#foo {
	background-image: url(../img/hed.jpg);
	background-repeat: no-repeat;
	background-size: 900px;
	margin-left: 250px;
	float: center
	height: 80px;
	width: 900px;

}



 /*Estilos hojas adicionales*/

 #adopcion{

	background-image: url(../img/mensajes.jpg);
	background-repeat: no-repeat;
	background-size: 1000px;
	height: 120px;
	width: 900px;
	border-radius: 15px;
	margin-top: 20px;
	
 }


 #banner1{


	
	height: 400px;
	width: 900px;
	margin-top: 88px;
	
}

#banner1 #bannerp{
	
	height: 400px;
	width: 600px;
	margin-left: 5px;
	float: left;
	border-radius: 15px;
	border: 2px solid #0e5061;

}
#banner1 #banners{
	
	height: 400px;
	width: 280px;
	margin-left: 5px;
	float: left;
	border-radius: 15px;
	border: 2px solid #FF4000;
}

#banner2{


	
	height: 400px;
	width: 900px;
	margin-top: 88px;
	
}

#banner2 #bannerp{

	background-image: url(../img/badopta.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 800px;
	height: 400px;
	width: 600px;
	margin-left: 5px;
	float: left;
	border-radius: 15px;s

}
#banner2 #banners{
	
	height: 400px;
	width: 280px;
	margin-left: 5px;
	float: left;
	border-radius: 15px;
	border: 2px solid #0e5061;
}

#banner2 #bannert{
	
	height: 200px;
	width: 200px;
	float: right;
	border-radius: 15px;
	border: 2px solid #0e5061;
}

#banner3{


	
	height: 500px;
	width: 900px;
	margin-top: 88px;
	
}

#banner3 #bannerp{

	background-image: url(../img/apadrinab.jpg);
	background-repeat: no-repeat;
	background-size: 500px;
	height: 500px;
	width: 300px;
	margin-left: 5px;
	float: left;
	border-radius: 15px;
	border: 2px solid red;

}

#banner3 #banners{
	
	height: 500px;
	width: 580px;
	margin-left: 5px;
	float: left;
	border-radius: 15px;
	border: 2px solid #0e5061;
}

#banner4{


	
	height: 500px;
	width: 900px;
	margin-top: 88px;
	
}

#banner4 #bannerp{

	background-image: url(../img/ezteriliza.jpg);
	background-repeat: no-repeat;
	background-size: 700px;
	height:395px;
	width: 700px;
	margin-left: 100px;
	margin-top: 20px;
	border-radius: 10px;
	

	
	 
}



#banner4 #bannerp1{

	background:#0e5061;
	background-size: 5px; 
	height: 100px;
	width: 700px;
	margin-left: 100px;
	float: left;
	border-radius: 15px;
	margin-top: 10px;

}



#banner6{


	
	height: 400px;
	width: 900px;
	margin-top: 88px;
	
}

#banner6 #bannerp6{

	background-image: url(../img/colaboradores.jpg);
	background-repeat: no-repeat;	
	background-size: 600px;
	height: 400px;
	width: 600px;
	margin-left: 5px;
	float: left;
	border-radius: 15px;
	border: 2px solid #0e5061;

}
#banner6 #banners6{
	
	height: 400px;
	width: 280px;
	margin-left: 5px;
	float: left;
	border-radius: 15px;
	border: 3px solid #f25724;
}

#banner5{

	height: 400px;
	width: 900px;
	margin-top: 88px;
	
}

#banner5 #banner52{
	
	background: #f25724;
	height: 50px;
	width: 600px;
	margin-left: 110px;
	border-radius: 15px;
	border: 2px solid #0e5061;
	margin-top: 20px;

}
#banner5 #banner53{
	
	background: #f25724;
	height: 50px;
	width: 600px;
	margin-left: 110px;
	border-radius: 15px;
	border: 2px solid #0e5061;
	margin-top: 10px;

}

#banner5 #banner50{
	
	background: #5da5a2;
	height: 50px;
	width: 600px;
	margin-left: 110px;
	border-radius: 15px;
	border: 2px solid #0e5061;
	margin-top: 40px;

}
#banner5 #banner51{
	
	background-image: url(../img/paco.jpg);
	background-repeat: no-repeat;
	height: 400px;
	width: 600px;
	margin-left: 110px;
	border-radius: 15px;
	border: 2px solid #0e5061;
	margin-top: 15px;

}

#banner20{

	background-image: url(../img/apolo.jpg);
	background-repeat: no-repeat;
	height: 400px;
	width: 600px;
	margin-top: 250px;
	border-radius: 15px;
	border: 2px solid #0e5061;
	margin-left: 110px;
	
}

#banner30{

	background-image: url(../img/max.jpg);
	background-repeat: no-repeat;
	height: 400px;
	width: 600px;
	margin-top: 20px;
	border-radius: 15px;
	border: 2px solid #0e5061;
	margin-left: 110px;
	
}

#banner40{

	background-image: url(../img/tomy.jpg);
	background-repeat: no-repeat;
	background-size: 600px;
	height: 500px;
	width: 600px;
	margin-top: 20px;
	border-radius: 15px;
	border: 2px solid #0e5061;
	margin-left: 110px;
	
}

#banner50{

	background-image: url(../img/tom.jpg);
	background-repeat: no-repeat;
	height: 380px;
	width: 600px;
	margin-top: 20px;
	border-radius: 15px;
	border: 2px solid #0e5061;
	margin-left: 110px;
	
}


#perros{

	height: 400px;
	width: 900px;
	margin-top: 100px;
	
}

#perros #perros6{
	
	background-image: url(../img/p5.jpg);
	background-repeat: no-repeat;
	background-size: 500px;
	height: 500px;
	width: 500px;
	margin-left: 160px;
	border-radius: 15px;
	border: 2px solid #0e5061;
	margin-top: 15px;

}

#perros0{
	
	background: #f25724;
	height: 50px;
	width: 600px;
	margin-left: 110px;
	border-radius: 15px;
	border: 2px solid #0e5061;
	margin-top: 20px;

}

 #perros1{

	background-image: url(../img/p6.jpg);
	background-repeat: no-repeat;
	background-size: 500px;
	height: 480px;
	width: 500px;
	margin-top: 200px;
	border-radius: 15px;
	border: 2px solid #0e5061;
	margin-left: 160px;
	
}

 #perros2{

	background-image: url(../img/p1.jpg);
	background-repeat: no-repeat;
	height: 290px;
	width: 500px;
	margin-top: 20px;
	border-radius: 15px;
	border: 2px solid #0e5061;
	margin-left: 160px;
	
}

 #perros3{

	background-image: url(../img/p21.jpg);
	background-repeat: no-repeat;
	height: 350px;
	width: 500px;
	margin-top: 20px;
	border-radius: 15px;
	border: 2px solid #0e5061;
	margin-left: 160px;
	
}

 #perros4{

	background-image: url(../img/p3.jpg);
	background-repeat: no-repeat;
	background-size: 500px;
	height: 370px;
	width: 500px;
	margin-top: 20px;
	border-radius: 15px;
	border: 2px solid #0e5061;
	margin-left: 160px;
	
}

 #perros5{

	background-image: url(../img/p4.jpg);
	background-repeat: no-repeat;
	height: 400px;
	width: 500px;
	margin-top: 20px;
	border-radius: 15px;
	border: 2px solid #0e5061;
	margin-left: 160px;
	
}

#gatos{

	height: 400px;
	width: 900px;
	margin-top: 100px;
	
}

#gatos #gatos1{
	
	background-image: url(../img/g1.jpg);
	background-repeat: no-repeat;
	background-size: 500px;
	height: 370px;
	width: 500px;
	margin-left: 160px;
	border-radius: 15px;
	border: 2px solid #0e5061;
	margin-top: 15px;

}

#gatos0{
	
	background: #f25724;
	height: 50px;
	width: 600px;
	margin-left: 110px;
	border-radius: 15px;
	border: 2px solid #0e5061;
	margin-top: 20px;

}

 #gatos2{

	background-image: url(../img/g2.jpg);
	background-repeat: no-repeat;
	background-size: 500px;
	height: 480px;
	width: 500px;
	margin-top: 80px;
	border-radius: 15px;
	border: 2px solid #0e5061;
	margin-left: 160px;
	
}

 #gatos3{

	background-image: url(../img/g3.jpg);
	background-repeat: no-repeat;
	background-size: 500px;
	height: 290px;
	width: 500px;
	margin-top: 20px;
	border-radius: 15px;
	border: 2px solid #0e5061;
	margin-left: 160px;
	
}

 #gatos4{

	background-image: url(../img/g4.jpg);
	background-repeat: no-repeat;
	background-size: 500px;
	height: 600px;
	width: 500px;
	margin-top: 20px;
	border-radius: 15px;
	border: 2px solid #0e5061;
	margin-left: 160px;
	
}

 #gatos5{

	background-image: url(../img/g5.jpg);
	background-repeat: no-repeat;
	height: 350px;
	width: 500px;
	margin-top: 20px;
	border-radius: 15px;
	border: 2px solid #0e5061;
	margin-left: 160px;
	
}


 #perros5{

	background-image: url(../img/p.jpg);
	background-repeat: no-repeat;
	height: 400px;
	width: 500px;
	margin-top: 20px;
	border-radius: 15px;
	border: 2px solid #0e5061;
	margin-left: 160px;
	
}
#redes{
	

	background: none;
	height: 120px;
	width: 900px;
	margin-top: 30px;
}

#redes #facebook{
	
	height: 100px;
	width: 200px;
	float: left;
	margin-left: 120px;

}

#redes #twitter{
	
	
	height: 100px;
	width: 200px;
	float: left;
	margin-left: 70px;
	vertical-align: top;
}

#redes #instagram{
	
	
	height: 100px;
	width: 200px;
	float: left;
	margin-left: 50px;
	vertical-align: top;
}



#adopcione{

	height: 400px;
	width: 900px;
	margin-top: 50px;
	float: left;
}

#adopcione #adopcione1{
	
	
	height: 150px;
	width: 300px;
	margin-left: 80px;
	float: left;
	
}
#adopcione #adopcione2{
	
	
	height: 250px;
	width: 400px;
	background-size: 400px;
	margin-left: 60px;
	float: left;
	padding-top: 50px;
}



/*Colores*/

nav ul li a .primero{
	background: #0e5061;
}

nav ul li a .segundo{
	background: #5da5a2;
}
nav ul li a .tercero{
	background: #f25724;
}
nav ul li a .cuarto{
	background: #174459;
}
nav ul li a .quinto{
	background: #37a4d9;
}
nav ul li a .sexto{
	background: #2E64FE;
}
nav ul li a .septimo{
	background: #FF4000;
}